
body {
    background-color: rgb(19, 15, 18);
    color: white;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    vertical-align: middle;
    text-align: center;
    
}

.Boton{
    background-color: pink;
    font-size: 40px;
    font-family: Tahoma;
    font-weight: bolder;
    color: rgb(88, 39, 39);
}

P {
    color: rgb(225, 79, 79);
    font-family: 'Tahoma';
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
}